@import url('https://fonts.googleapis.com/css2?family=Allison&family=Gowun+Batang:wght@400;700&family=Noto+Serif+KR:wght@200;300;400;500;600&display=swap');

html {
  font-size: 16px;
}

*, body {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  width: 100vw;
  max-width: 460px;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  margin: 0 auto;
  background: yellowgreen;

  // 카카오 인앱 100vh 스크롤문제
  touch-action: none;
  position: fixed;
}